    @import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
    * {
        margin: 0;
    }

    .navbar-brand img {
        display: block;
        height: 25px;
        margin: -3px 5px;
    }

    /*
.navbar-header {
    margin-left: 5px;
    width: 100%;
}
*/

    .modal-footer .btn+.btn {
        margin-bottom: 0px;
        margin-top: 2px;
        margin-left: 2%;
    }


    .intro-section {
        background: url(img/welcome.png) no-repeat;
        background-size: cover;
        height: 100vh;
        padding-top: 50px;
        background-attachment: fixed;
        overflow: hidden;
    }

    .intro-section .info {
        text-align: center;
        margin: 20% auto;
        width: 100%;
        color: #f5f5f5;
        background-attachment: fixed;
    }

    .intro-section .info h1 {
        font-size: 38px;
    }

    .intro-section .info p {
        font-size: 50px;
    }

    .intro-section .info .cta {
        font-size: 24px;
    }

    .btn-primary {
        padding-bottom: 10px;
    }

    /*************************
JavaScript Style
*************************/

    #div1 {
        font-size: 20px;
        padding: 5px;
        text-align: center;
    }



    /*************************
Body, Text, and page styling
*************************/

    .jumbotron {
        background-color: #483272F;
        color: white;
        margin-bottom: 0;

    }

    .topdisplay {
        background-color: #48372F;
        color: white;
        height: 200px;


    }

    body {
        background: #ffb347;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffb347, #ffcc33);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffb347, #ffcc33);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    h1.sansserif {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    h1 {

        text-align: center;
    }

    p.sansserif {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    p.normal {
        font-weight: normal;
        font-size: 14px;
    }

    p.light {
        font-weight: lighter;
        font-size: 14px;
    }

    p.thick {
        font-weight: bold;
        font-size: 14px;
    }

    p.thicker {
        font-weight: 900;
        font-size: 14px;
    }

    .paragraph {
        text-align: center;
    }

    .affix {
        top: 0;
        width: 100%;
    }

    .affix+.container-fluid {
        padding-top: 40px;
    }


    /*nav:hover{
	opacity: 1.5;
	filter:alpha(opacity=100);
	color:#FEE202;
}*/

    /*.navbar-default {
    background-color: #766151;
    border-color: #030033;
	color:#FEE202;
	opacity: 0.9;
	
	
	
}
*/

    /*.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #766151;
	color:#FFFFFF;
	
    
}
*/

    /*******************************
Carousel
*******************************/

    .carousel-inner img {
        -webkit-filter: grayscale(90%);
        filter: grayscale(90%);
        /* make all photos black and white */
        width: 100%;
        /* Set width to 100% */
        margin: auto;
    }

    .carousel-caption h3 {
        color: #fff !important;
    }

    /*******************************
Table & Container
*******************************/

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
        margin: auto;
    }

    td,
    th {
        border: 1px solid #dcae1d;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        margin-bottom: 5px;

    }


    /****************************************************
DropDown & list items
****************************************************/

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        text-decoration: none;
        color: black;
        /*change color of links in drop down here*/
    }

    .dropdown-menu {
        background-color: #FFFFFF;
        color: blue;
        opacity: 0.7;
    }

    .navbar-inverse {
        background-color: #514947;


    }

    .navbar-brand {
        font-size: 25px;
        color: #FFFFFF;
    }

    .navbar {
        margin: 0;
    }

    .glyphicon-bell:before {
        margin-right: 5px;
    }

    .glyphicon-home:before {
        margin-right: 5px;
    }

    .glyphicon-user:before {
        margin-right: 5px;
    }

    .glyphicon-list-alt:before {
        margin-right: 5px;
    }

    .glyphicon-apple:before {
        margin-right: 5px;
    }

    .glyphicon-facetime-video:before {
        margin-right: 5px;
    }

    .glyphicon-piggy-bank:before {
        margin-right: 5px;
    }

    .glyphicon-globe:before {
        margin-right: 5px;
    }

    .caret.caret-up {
        border-top-width: 0;
        border-bottom: 4px solid #fff;
    }

    .caret.caret-up1 {
        border-top-width: 0;
        border-bottom: 4px solid #fff;
    }

    /****************************************************
ToolTip
****************************************************/

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    /****************************************************
Buttons
****************************************************/

    .button {
        background-color: #B6B6B6;
        /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 5px 5px;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }


    .button1 {
        background-color: #766151;
        color: #FFFFFF;
        border: 1px solid #48372F;
    }

    .button1:hover {
        background-color: #514947;
        color: white;
    }

    .button2 {
        background-color: #766151;
        color: #FFFFFF;
        border: 1px solid #48372F;
    }

    .button2:hover {
        background-color: #514947;
        color: white;
    }

    .button3 {
        background-color: #766151;
        color: #FFFFFF;
        border: 1px solid #48372F;
    }

    .button3:hover {
        background-color: #514947;
        color: white;
    }

    .button4 {
        background-color: #766151;
        color: #FFFFFF;
        border: 1px solid #48372F;
    }

    .button4:hover {
        background-color: #514947;
        color: white;
    }

    .button5 {
        background-color: #766151;
        color: #FFFFFF;
        border: 1px solid #48372F;
    }

    .button5:hover {
        background-color: #514947;
        color: white;
    }

    .button6 {
        background-color: #766151;
        color: #FFFFFF;
        border: 1px solid #48372F;
    }

    .button6:hover {
        background-color: #514947;
        color: white;
    }

    .button7 {
        background-color: #766151;
        color: #FFFFFF;
        border: 1px solid #48372F;
    }

    .button7:hover {
        background-color: #514947;
        color: white;
    }

    .dropdown1 {}

    .dropdown2 {}

    .dropdown3 {}

    nav {
        position: fixed;
        top: 0;
        left: 0;
    }


    /****************************************************
HOME PAGE
****************************************************/

    .item {
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 220px;
        padding-right: 220px;
    }

    .carousel-control {
        background-color: #dcae1d;
        padding-bottom: 50px;
    }


    .subcard .panel {
        height: 120px;
        width: 150px;
    }

    .carousel-inner {
        max-height: 150px !important;
    }


    /****************************************************
REGISTER PAGE
****************************************************/

    .registerBody {
        background-color: #a9b4be;
    }

    form {
        height: auto;
        margin: 10% 20%;
        padding: 15px;
    }


    .signup-form input {
        background-color: #f0f0f0;
        color: #414141;
        font-size: 18px;
        font-weight: 300;
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #ccc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: block;
        margin-bottom: 20px;
    }


    #signup-section {
        background: url(img/register.png) 0 no-repeat;
        padding-top: 15%;
        height: 110%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .singuptitle {
        padding-top: 10%;
        margin: -10% auto -5%;
        text-align: center;
        font-size: 45px;
        color: #fff;
    }

    .signup-form input #submitSection {
        margin: 0 auto;
        max-width: 185px;
        background-color: #4cae4c;
        color: #fff;
    }
    